*{
    padding: 0;
    margin: 0;
}
body * {
    display: block;
}
.input {
    position: absolute;
}
.input * {
    display: inline;
    vertical-align: middle;
}
input[type="text"] {
    width: 2em;
    text-align: center;
}
.x {
    top: 5px;
}
.y {
    top: 35px;
}
.file{
    top: 65px;
}
canvas{
    position: absolute;
}